:root {
  --vanilla: #FFEAB0;
  --gold: #ECAB0F;

  --MOBILE_WIDTH: 343px;
  --tablet: 768px;
  --desktop: 1024px;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: var(--vanilla);
  overflow: hidden;
}

#root {
  height: 100%;
}
